{% extends "base.html" %}


{% block content %}

<section style="background-color: darkgray;">
    <div style="width: 70%; margin: auto;">
        <form method="post" action="/">
            {% csrf_token %}
            <div class="row">
                <label class="form-label">Title:</label>
                <input class="form-control" type="text" name="title" required>
            </div>
            <div>
                <label class="form-label">
                    Song Name
                </label>
                <input type="text" class="form-control" name="song" required>
            </div>
            <div>
                <label class="form-label">Upload By</label>
                <input type="text" class="form-control" name="upload_by" required>
            </div>
            <div>
                <label class="form-label">
                    Audio
                </label>
                <input type="file" accept="audio/*" class="form-control"required>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>

{% endblock content %}